@media handheld, only screen and (max-width: 992px) {

.navbar-brand{

	float: none;
}


.navbar-brand>img {
    display: block;
    margin: 0px auto;
}

.top-details {
    padding: 0px;
    margin: 0px 0px 35px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback-heading p {
    padding: 0px 4%;
}

.testimoniasl-box{
	    margin-left: 23px;
}


.testimoniasl-box .testimonial-text {
    padding: 101px 0px 14px 10px;
}
.testimoniasl-box .testimonial-pic-block, .testimonial-grid-5 .testimonial-pic-block {
    left: 9%;
    position: relative;
    top: -24px;
}

.appointment-thumb{

	    padding: 36px 36px;
	        background: #a231a7;
}

.about-img .img-03{
	display: none;
}

.banner-sec img {
    width: 100%;
    height: 267px;
    object-fit: cover;
}

.banner-sec .container p{
	    font-size: 16px;
}

.banner-sec a {
    width: 207px;
    height: 44px;
    background: #9a209f;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    line-height: 42px;
    margin-top: 30px;
    border-radius: 0px;
    font-weight: 400;
    text-transform: uppercase;
}

.banner-sec .container {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 18px;
}



.banner-sec .container h1 {
    color: #000;
    font-weight: 700;
    font-size: 31px;
    text-transform: uppercase;
}

.feature-content {
    margin-top: 15px;
}

}