body{

	padding: 0px;
	margin: 0px;
}

*{

	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6{

    font-family: 'Poppins', sans-serif;

}

a{
	text-decoration: none;
}
a:hover{
    text-decoration: none !important;
}

p{


    font-family: 'Roboto', sans-serif;

}


.home-nav{

    height: 80px;
    margin-bottom: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 9;
    top: 23px;

}

.navigation-menu li a:hover{

background: transparent;


}

.navigation-menu .navbar-nav{
margin-top: 21px;
margin-bottom: 5px;
margin-left: 20px;

}

.header{

    background: #ef7534;
}

.home-nav li a{

    color: #fff;
}

.navigation-menu .navbar-nav li{

    text-transform: uppercase;
    color: #fff !important;
}

.navigation-menu .navbar-nav li a{
    color: #181818;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 14px;

}

.banner-sec{
	position: relative;
}


.banner-sec img{

	width: 100%;
}

.banner-sec .container{

	    position: absolute;
    left: 0px;
    right: 0px;
    top: 99px;
}

.banner-sec h1{

    color: #000;
    font-weight: 700;
    font-size: 56px;
    text-transform: uppercase;
    color: #fff;
}
.banner-sec .carousel-caption{

    right: 46%;
    left: 16%;
    padding-bottom: 30px;
    top: 131px;
    text-align: left;

}

.text-color{

    color: #ef7534;
}



.banner-sec p{

	color: #fff;
	font-size: 14px;
	padding-right: 10%;
    text-transform: lowercase;
    font-family: 'Roboto', sans-serif;

}

.banner-sec a{
    width: 151px;
    height: 49px;
    background: #ef7534;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    line-height: 48px;
    margin-top: 30px;
    border-radius: 0px;
    font-weight: 400;
    text-transform: uppercase;
}


footer{

    background: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-weiget img{
    width: 60%;
    margin-bottom: 20px;
}

.footer-weiget p{
    font-size: 15px;
    color: #fff;
    text-align: justify;
    padding-right: 20px;
}

.footer-weiget h5{
    color: #fff;
       font-size: 18px;
}

.footer-weiget ul{
    padding: 0px;
    margin: 20px 0px 0px;

}

.payments-methot li{
    display: inline-block !important;
}

.payments-methot li a img{
    width: 80%;
}

.footer-weiget ul li{

    padding: 0px;
    margin: 0px 0px 10px;
    list-style: none;


}

.footer-weiget ul li a{

    color: #fff;
    font-size: 17px;
} 

.credit-section{

    background: #000;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;

}


.top-details{

    padding: 0px;
    margin: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
        float: left;

}

.top-details li{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
        margin-right: 23px;
        color: #fff;
}

.top-details li strong{
    text-transform: capitalize;
    font-weight: 300;
}

.top-details li i{
    font-size: 15px;
}

.top-details li i{
    margin-right: 10px;

}


.top-social-media{
    padding: 0px;
    margin: 10px 0 0;
        text-align: right;
}

.top-social-media li{

list-style: none;
display: inline-block;
margin-left: 10px;

}


.top-social-media li i{
    color: #fff;
        font-size: 21px;
}

.navbar-brand{
    height:auto;
}

.navigation-menu{
    margin-bottom: 0px;
    border-radius: 0px;
    background: #fff;

}

.navbar-nav li button{
    background: #9a209f;
    color: #fff;
    border: none;
    width: 144px;
    height: 49px;
    text-transform: uppercase;

}

.about-section{
    margin-top: 70px;  
    margin-bottom: 70px; 
}

.inner-about-us img{
    width: 100%;
    height: 460px;
    object-fit: cover;
    margin-bottom: 19px;

}

.inner-about-us h1{
    margin: 0px 0px 30px;
    font-weight: 700;
    font-size: 46px;
    text-transform: capitalize;
}

.inner-about-us span{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
}

.inner-about-us p{

       text-align: justify;
    line-height: 26px;


}

.about-btn{

    background: #9a209f;
    color: #fff;
    width: 141px;
    height: 40px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    line-height: 39px;

}

.service-wrap{
    padding-bottom: 65px;
/*    background: url(../images/service-b.png);*/
    background-repeat: no-repeat;
    background-position: bottom center;

}

.service-thumb{

    height: 308px;
    width: 100%;
    position: relative;
    overflow: hidden;

}

.service-thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}
.service-thumb:hover img{
    transform: scale(1.1);
    transition: all 0.5s ease;

}

.service-thumb a{
       position: absolute;
    bottom: 15px;
    left: 0px;
    right: 0px;
    width: 90%;
    background: #fff;
    margin: 0px auto;
    padding: 9px 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    border-radius: 6px;
    z-index: 9;

}

.service-heading h1{

 text-transform: uppercase;
    font-weight: 700;
    font-size: 47px;
}

.service-heading p{

    text-align: justify;
    font-size: 16px;
    line-height: 29px;

}

.no-padding{
    margin: 0px;
    padding: 0px;
}

.why-choose-image{

    width: 100%;
    height: 686px;

}

.why-choose-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.why-choose-option{

    background: #282828;
        padding: 33px 55px;
}

.feature-box .feature-title-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.feature-box{
    margin-bottom: 30px;
}


.feature-box .feature-title-icon .feature-icon {
    font-size: 36px;
    min-width: 42px;
    background: #9a209f;
    width: 70px;
    height: 70px;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    line-height: 70px;
    color: #ffffff;
    margin-right: 20px;
}

.section-description{
    margin-bottom: 30px;
}

.text-white {
    color: #fff!important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.feature-content{
    margin-top: -5px;
}

.feature-content h4{
    font-weight: 700;
}

.feedback-heading{
    text-align: center;
    margin-bottom: 60px;

}

.feedback-heading h1{
    margin: 0px 0px 30px;
    font-weight: 700;
    font-size: 46px;
    text-transform: capitalize;


}

.feedback-heading p{
    padding: 0px 16%;
}

.appointment-wrap{
    background: url(../images/appointment-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0px;
}

.appointment-thumb{
    background: #a231a7bf;
    padding: 36px 57px;
    border-radius: 20px;
        position: relative;
    top: 108px;
}

.input-field{
   width: 100%;
    border: 1px solid #fff;
    background: transparent;
    height: 49px;
    color: #fff;
    outline: none;
    padding: 21px;
    margin-bottom: 30px;

}

.input-field::-ms-input-placeholder { /* Edge 12-18 */
  color: #fff;
}

.input-field::placeholder {
  color: #fff;
}

.message::-ms-input-placeholder { /* Edge 12-18 */
  color: #fff;
}

.message::placeholder {
  color: #fff;
}

.message{
    width: 100%;
    height: 160px;
       width: 100%;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    outline: none;
    padding: 21px;
    margin-bottom: 30px;
}

.appointment-btn{
    background: #000;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    display: block;
    width: 250px;
    height: 50px;
    outline: none;
    border: none;

}

.appointment-thumb h1{

        margin: 0px 0px 0px;
    font-weight: 700;
    font-size: 46px;
    text-transform: capitalize;
    color: #fff;

}

.appointment-thumb p{

    color: #fff;
    margin-bottom: 30px;
}
.footer-weiget input[type="email"]{

    width: 100%;
    height: 50px;
    background: #fff;
    padding-left: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 18px;

}

.footer-weiget button{
      color: #fff;
    background: #9a209f;
    border: none;
    display: block;
    width: 162px;
    height: 43px;
    text-transform: uppercase;   
}

.footer-details li{

        display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
        justify-content: flex-end;
        padding-right: 0% !important;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
}

.footer-details li i{

        font-size: 18px;
    min-width: 25px;
    margin-right: 7px;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-top: 5px;
    color: #fff;
}

.footer-details li span{
    color: #fff;
    font-size: 17px;
}

.banner-effect{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -1px;
    width: 100%;
    z-index: 9;
}


.navbar-brand{

    padding: 3px;
}

.service-category-box{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.2);
    border-radius: 12px;
    margin-top: 12px;
}


.service-category-box h3{


}

.service-category-box h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.service-category-box P{

    font-size: 14px;
    font-weight: 400;
}

.Packages-sec{
    margin-top: 91px;
        margin-bottom: 63px;
}

.sec-header{
    text-align: center;
    margin-bottom: 43px;

}

.sec-header h1{
    font-weight: 700;
    font-size: 46px;
    text-transform: uppercase;
}

.sec-header p{
    color: #5d5d5d;
    font-size: 17px;
}

.packages-box-images{
        height: 229px;
    width: 100%;
    border-radius: 28px 28px 0px 0px;
    overflow: hidden;

}

.packages-box-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.packages-box{

    border-radius: 28px;
    box-shadow: 0px 7px 6px 0px rgba(0,0,0,0.2);


}

.packages-box h5{
text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 16px;
    margin: 0px 20px 20px;
    padding: 14px 0px;
    border-bottom: 1px solid #ccc;
}

.packages-action{
     padding: 0px 0px 23px;
    margin: 0px 23px 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.packages-action li{
    display: inline-block;

}

.packages-action li i{

    color: #800405;

}

.packages-action li span{
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-style: italic;
color: #ef7534;
font-size: 14px;

}

.packages-btn{

    width: 145px;
    height: 51px;
    color: #fff;
    border: none;
    background: #ef7534;
    display: block;
    text-align: center;
    border-radius: 8px;
    line-height: 49px;
    font-family: 'Roboto', sans-serif;
}

.packages-btn:hover{
    color: #fff;
}

.hotel-box .packages-box-images{

    height: 163px;
}

.hotel-box h5{
    text-align: left;
    margin: 0px 0px 15px;
    padding: 0px 17px 9px;

}

.hotel-box span{
        font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #000;
    font-size: 14px;
      padding: 0px 17px 0px;
          margin-top: 13px;
display: block;
    margin-bottom: 7px;

}

.hotel-box {

    border-radius: 17px;
    background: #fff;
}

.hotel-action span{
    display: initial;
        margin: 0px;
    padding: 0px;
    font-weight: 700 !important;
}
.hotel-action .packages-btn{

     width: auto;
    height: auto;
    background: #fff;
    font-style: italic;
    color: #000;
}

.offer{

    background: url(../images/offer.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 45px;
    text-align: center;
}

.offer h2{

    font-size: 50px;
    font-weight: 500;
    color: #fff;
}

.offer h1{

    font-size: 85px;
    color: #fff;
    font-weight: 600;
}

.offer p{
    color: #fff;
    font-size: 22px;

}

.hotel-futures{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.hotel-futures li img{

    width: 75%;

}

.hotel-futures li h3{

    color: #fff;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-size: 16px;

}

.hotel-futures li{

    margin: 0px 30px;
}

.see-Packages-btn{

    width: 211px;
    height: 49px;
    background: #ef7534;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    line-height: 48px;
    border-radius: 4px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 42px auto 0px;
}

.about-sec{
    margin-top: 70px;
}

.about-content .sec-header{
    margin-bottom: 0px !important;
    text-align: left;
}

.about-content p{
    text-align: justify;
    line-height: 26px;
    font-size: 15px;

}

.about-content{

    padding-left: 77px;
}

.about-image{

    width: 100%;
    height: 417px;
    background: #000;
    border-radius: 273px 0px 0px 273px;
    overflow: hidden;
        border-bottom: 13px solid #ef7534;
}

.about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.read-more-btn{
    width: 151px;
    height: 49px;
    background: #ef7534;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    line-height: 48px;
    margin-top: 30px;
    border-radius: 6px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;

}



.testimonials-sec{

    background: url(../images/testimonials-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 57px;
    margin-top: 60px;
}


.feedback{
    background: #f7f7f7;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.1);
    margin-top: 25px;
    margin-bottom: 20px;
}

.feedback .comma{
    width: 43px !important;
    margin-bottom: 10px;
}

.feedback p{

font-size: 15px;
font-weight: 400;

}

.feedback-profile{
    width: 100%;
    height: 88px;
    border: 1px solid;
    border-radius: 54px;
    overflow: hidden;
}

.feedback-profile img{
        width: 100%;
    height: 100%;
    object-fit: cover;
}


.profile-details strong{

        font-family: 'Roboto', sans-serif;
        font-style: italic;

}

.profile-details ul li{
    list-style: none;
    display: inline-block;

}
.profile-details ul{
    margin: 0px;
}

.profile-details ul li i{

    color: #fecd03;
}

.profile-details small{
     font-family: 'Roboto', sans-serif;
        font-style: italic;
        color: #ef7534;

}
.profile-details{

    margin-top: 15px;
}

.footer-weiget strong{

    color: #fff;
        display: block;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 18px;
}

.footer-weiget h5{

    font-weight: 900;
    font-size: 26px;
    text-transform: uppercase;

}

.footer-weiget p{

    text-align: center;
    font-weight: 700;
    font-size: 18px;
    padding: 0px 26%;
}

.credit-sec{
    margin-top: 20px;
}

.credit-sec{

    margin-top: 50px;
}

.credit-sec ul{
    padding: 0px;
    margin: 0px;
}

.credit-sec li{
    display: inline-block;
    border-right: 1px solid #fff;
    font-weight: 400;
    padding-right: 15px;
    padding-left: 19px;
}

.credit-sec li:last-child{
    border-right: none;
}

.credit-sec li a{
    color: #fff;
}

.credit-sec strong{
    display: block;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #fff;
        font-family: 'Poppins', sans-serif;
}

.inner-banner{
    width: 100%;
    height: 300px;
    position: relative;
    background: #000;
}

.inner-banner img{

width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}


.inner-banner .banner-caption{

    position: absolute;
    top: 89px;
    left: 8%;
    z-index: 9;
}

.banner-caption h1{

        text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.after-banner{
    background: url(../images/about-middle-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;

}

.inner-about-image{
    width: 100%;
    height: 339px;
    border-radius: 15px;
    overflow: hidden;
}

.inner-about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us-text span{

font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #ef7534;
    margin-top: 30px;
    display: block;
    font-size: 16px;


}

.about-us-text h1{
    margin-top: 0px;
    font-size: 40px;
    padding-right: 11%;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 22px;


}

.about-us-text p{

font-size: 21px;
    line-height: 33px;

}


.contact-information{

    margin-top: 60px;
    margin-bottom: 70px;

}

.form-inner input {
    width: 100%;
    border-radius: 0;
    background: #fff;
    color: var(--title-color);
    font-family: var(--font-jost);
    font-size: 13px;
    font-weight: 400;
    padding: 10px 20px;
    height: 50px;
    border: 1px solid #eee;
    border: none;
    outline: none;

}


.form-inner{
    margin-bottom: 20px;
}


.form-inner textarea {
    width: 100%;
    border-radius: 5px;
    background: #fff;
    color: #5e5e5e;
    border: 1px solid #eee;
    outline: none;
    font-family: var(--font-jost);
    font-size: 13px;
    font-weight: 400;
    padding: 20px 25px;
    min-height: 150px;
}

.contact-form-panel {
    background: linear-gradient(125deg,rgba(99,171,69,0.1) 0%,rgba(251,176,59,0.1) 100%);
    border-radius: 10px;
    padding: 23px 36px;
}

.primary-btn1 {
    border-radius: 5px;
    background-color: #63ab45;
    font-family: var(--font-rubik);
    font-weight: 600;
    font-size: 16px;
    color: var(--white-color);
    letter-spacing: .48px;
    text-transform: capitalize;
    line-height: 1;
    padding: 16px 34px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: .5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    white-space: nowrap;
    outline: none;
}

.single-contact {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    gap: 15px;

    margin-bottom: 37px;
    position: relative;
}

.single-contact .title {
    line-height: 1;
    background-color: #fff;
    position: absolute;
    left: 35px;
    top: -8px;
    padding: 0 20px;
}

.single-contact .title h6 {
    color: var(--text-color);
    font-family: var(--font-rubik);
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    margin-top: 0px;
    margin-bottom: 0;

}

.single-contact .icon {
    height: 44px;
    min-width: 44px;
    max-width: 44px;
    border-radius: 50px;
    background-color: #63ab45;
    display: flex;
    align-items: center;
    justify-content: center;
}
.single-contact .icon i{
    color: #fff;
}

.single-contact .content {
    line-height: 1;
}
.single-contact .content h6 {
    margin-bottom: 0;
        color: #000;
    font-size: 16px;
    font-weight: 500;
    padding-top: 0px;
    transition: .35s;
}

.single-contact .content h6 a{
    margin-bottom: 0;
        color: #000;
    font-size: 16px;
    font-weight: 500;
    padding-top: 0px;
    transition: .35s;
}


.gallery_wrap {
    display: grid;
    align-content: flex-start;
    grid-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
}


.gallery-wrap{

    margin-top: 60px;
    margin-bottom: 70px;

}

.Inner-gallery {
    display: grid;
    align-content: flex-start;
    grid-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
}


.Inner-gallery img {
    height: 175px;
    object-fit: cover;
    width: 100%;
        border-radius: 10px;
}

.testimonials-wrap{

    padding-top: 90px;
    padding-bottom: 70px;
    position: relative;

}

.testimonials-wrap:after{
    content: "";
    position: absolute;
    right: -89px;
    height: 100%;
    width: 66%;
    background: #f7f6fb;
    top: 0px;
    z-index: -1;
}

.testimonials-wrap img{

    width: 100%;
    height: 300px;
    object-fit: cover;
}

.testimonials-intro h3{

text-transform: capitalize;
font-size: 30px;


}

.testimonials-intro p{

    font-size: 16px;
    line-height: 30px;
    margin-top: 18px;
    text-align: justify;
}

.inner-testimonials-box{
    margin-top: 60px;
    margin-bottom: 50px;
}

.tour-place-wrap{

    margin-top: 60px;
    margin-bottom: 50px;
}

.booking-one__single {
    margin-bottom: 30px;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    border-radius: 10px;
}

.booking-one__image {
    position: relative;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    min-height: 90px;
    background: #ccc;
}

.booking-one__content {
    padding: 10px 30px 0;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-top: none;
    border-radius: 0 0 10px 10px;
    background: #fff;
    position: relative;
    margin-top: -16px;
}

.booking-one__content-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.booking-one__content-top .booking__rating {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 66px);
    flex: 0 0 calc(100% - 66px);
}

.booking__rating .post-total-rating {
    font-size: 14px;
    overflow: hidden;
}
.booking__rating .post-total-rating i {
    letter-spacing: 1px;
}
.booking-one__content:after {
    content: '';
    width: 100%;
    height: 20px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 9;
    background: #fff;
    margin-bottom: -1px;
}

.booking-one__title {
    font-size: 20px;
    margin: 10px 0 10px;
    font-weight: 600;
}

.booking-one__title a{
    color: #000;
}

.booking-one__address {
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 400;
}

.booking-one__address i {
    margin-right: 10px;
    color: #63ab45;
}

.booking__price {
    font-weight: 500;
    font-size: 15px;
}

.booking-one__meta {
    margin-top: 20px;
    padding: 10px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    border-top: 1px solid #E2DFEB;
}



.booking-one__meta-left > span:not(:last-child) {
    margin-right: 18px;
}

.booking-one__item-meta i {
    margin-right: 4px;
    font-size: 17px;
    position: relative;
    top: 2px;
    color: #63AB45;
}

.booking-one__meta-right a {
    display: inline-block;
    position: relative;
    color: #fff;
}

.booking__price {
    font-weight: 500;
    font-size: 15px;
}

.booking__price label {
    margin-right: 5px;
    font-size: 14px;
    font-weight: 400;
}



.booking-one__price .item_info_price_new {
    color: #F7921E;
}


.booking__price label i {
    font-size: 16px;
    color: #63AB45;
    margin-right: 10px;
}

.booking-one__item-meta i {
    margin-right: 4px;
    font-size: 20px;
    position: relative;
    top: 2px;
    color: #63AB45;
}

.booking-one__image img{
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.booking-one__meta-right{

        width: 100px;
    height: 28px;
    background: #ef7534;
    text-align: center;
    vertical-align: middle;
    padding-top: 4px;
    color: #fff;
    border-radius: 5px;
}

.banner-caption h6{

    color: #fff;
    font-size: 20px;
}

.side-screen-wrap{
    padding-bottom: 58px;
    background: #F3F8F6;
}

.nature-image{
    width: 100%;
    height: 200px;

}

.nature-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.side-scree-slider{

        margin-top: -89px;
        margin-bottom: 39px;
}

.post-title{
    font-size: 30px;
}

.gowilds-single-address i{
    color: #ef7534;

}

.gowilds-single-address span{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.tour-basic-details{
    float: right;
    padding: 0px;
    margin: 24px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tour-basic-details li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}

.details-icon{

margin-right: 13px;
    width: 40px;
    height: 40px;
    background: #3b780c;
    color: #fff;
    border-radius: 39px;
    text-align: center;
    vertical-align: middle;
}

.details-icon i{

        font-size: 23px;
    margin-top: 9px;
    display: block;
}

.details-box-content h4{
    margin: 0px;
}

.tour-details-wrap{
    margin-top: 50px;

}

.facilities img{
    width: 100%;
    height: 301px;
    object-fit: cover;


}

.facilities p, .tour-details p{
        font-size: 15px;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 26px;

}

.included-exclude{

        margin-top: 35px;
    margin-bottom: 34px;

}

.included-exclude ul{

    padding: 0px;
    margin: 0px;
}

.included-exclude ul li{

    list-style: none;
    margin-bottom: 20px;
}

.included-exclude h3{
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 24px;
}

.included-exclude ul li span{
    font-size: 15px;
        font-family: 'Poppins', sans-serif;
}


.included-exclude ul li i{


}

.amenities ul{
  padding: 0px;
    margin: 20px 0px 0px;
    display: flex;
    flex-wrap: wrap;
}
.amenities ul li{
    list-style: none;
    margin-right: 21px;
    width: 28%;
    margin-bottom: 15px;

}

.amenities ul li span{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

}


.amenities ul li i{
  font-size: 29px;
    margin-right: 6px;
    color: #63AB45;
}

.amenities{
    margin-bottom: 30px;
}


/*----------------------accordion-------------*/


.accordion .accordion-item {
/*  border-bottom: 1px solid #e5e5e5;*/
background: #ef7534;
    margin-bottom: 12px;
    padding: 0px 29px;
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #fff;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 13px 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
      font-size: 17px;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
  color: #fff;
  text-transform: lowercase;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 14px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
  color: #fff;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: #03b5d2;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  margin: 2em 0;
}

.accordion-title .badge {
    margin-right: 10px;
    border-radius: 0px;
    text-transform: uppercase;
    padding: 6px 10px;
        background: #000;
}



.faq .accordion button{

    padding-left: 27px;

}


.accordion .accordion-content p{

        font-size: 14px;
}
/*----------------------accordion-------------*/


.accordion-wrap{
    margin-top: 20px;
    margin-bottom: 20px;
}


.accordion-wrap h1{
    margin-bottom: 37px;
    display: block;
}

.booking-form{

    background: #f3f8f6;
    padding: 20px;
    border-radius: 10px;
}

.booking-form h4{
    margin-top: 30px;
    display: block;
    margin-bottom: 20px;
}

.booking-form input{
      width: 100%;
    background: #fff;
    border: none;
    height: 42px;
    padding-left: 10px;
    margin-bottom: 16px;
    outline: none;
}

.submit-btn{
    background: #ef7534;
    color: #fff;
    font-weight: 700;
    padding: 12px 32px 12px 32px;
    line-height: 22px;
    font-size: 16px;
    position: relative;
    z-index: 9;
    display: inline-block;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    border: none;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 11px;
    margin-bottom: 20px;

    }

    .tour-information{

        border-radius: 8px 8px 8px 8px;
            border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #EBE6DE;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 30px 30px 30px 30px;
    margin-top: 50px;
    }

    .gowilds-single-max_guests .content-inner{

            display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    }

    .gowilds-single-max_guests .icon{

        padding-right: 12px;
        color: #63AB45;
    }

    .gowilds-single-max_guests .icon i{

        font-size: 27px;
    }

    .gowilds-single-max_guests .content-inner .box-content{

            font-weight: 500;
    }

    .gowilds-single-max_guests .content-inner .box-content .ba-meta-title{

    font-size: 15px;
    margin: 0 0 2px;
    color: #141414;
    font-weight: 300;
    }

    .gowilds-single-max_guests .content-inner .box-content .item-value{

            color: #000;
    font-weight: 700;
    }

    .gowilds-single-max_guests{
        margin-top: 20px;
    }